.loading{
    position: fixed;
    /* margin-top: -817px; */
    display: flex;
    align-items: center;
    /* margin-top: 50%; */
    /* background-color: rgba(0, 0, 0, 0.409); */
}

.wait{
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    justify-content: center;
}