/* .container {

width: 100%;
background-color: whitesmoke;
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
  
  }
  .vid{
    width: 300px;
    height: 400px;
    padding-left: -5rem;
  }

  #vids{
    width: 1000px;
    height: 400px;
  } */



  
  .container {

width: 100%;
background-color: whitesmoke;
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
  
  }

.card{
  width: 500px;
  height: 500px;
 font-size: 60px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
  .child {
  width: 200px;
  height: 100px;
  }  