.container {
  width: 100%;
  display: flex;
flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}
.radius {
    border-radius: 10px;
  }
  
  img {
    width: fit-content;
   border-radius: 0px 0px 0px 0px;
    height: 304px;
  }
  
  .cardMod{
    margin: 1rem;
    
    box-shadow: 0px 0px 20px 20px rgba(158,158,158,0.3);
  }

  .layer {
  
    display: flex;   

  }

  .genre{
    margin-right: 5px;
  }
