@tailwind base;
@tailwind components;
@tailwind utilities;
.content{
    display: flex;
    
}



.txt-grey{
    color: grey;
}
.bg-black{
    background-color: black;
  }
  
  .txt-white{
      color: white;
  }
  .bg-orange{
      background-color: orange;
  }
  .txt-orange{
      color: orange;
  }
  
  
  