.container {
  width: 100%;
  display: flex;
flex-wrap: wrap;

  text-align: center;
}

.radius {
  border-radius: 10px;
}

img {
  width: fit-content;
 border-radius: 0px 0px 0px 0px;
  height: 304px;
}

.cardMod{
  margin: 1rem;
  
  box-shadow: 0px 0px 29px 20px rgba(158,158,158,0.75);
}

.cardMod:hover{
  background-color: orange;
  color: white;
}
.grow 
{
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.06);

}